body {
    // font-family: sans-serif;
    background: #eee;
    font:  Helvetica,Arial,'DejaVu Sans','Liberation Sans',Freesans,sans-serif;
    // height: 1000px; 
}

.navigation {
    &__item {
        border-color: #8FBC8F!important;
        position: relative;
        a {
            display: block;
            font-size: 16px;
            line-height: 20px;
        }
        ul {
            list-style-type: none;
            z-index: 2;
            position: absolute;
            top: auto;
            left: 0px;
            display: none;
            li:hover {
                // background: #c8e9e8;
                background: yellow;
                a{
                    color:#00A2B9!important;
                }
            }
        }
        &__category:hover{
            color: #00A2B9!important;      
            // color: #00A2B9!important;      
        }
    }
    &__item:hover{
        background: yellow;
        ul{
            display: block;
        }
        
    }
}

.homeBanner{
    &__description{
        list-style-type: none;
        overflow-y: hidden;  
        li div a{
            font-size: 13px;
            overflow: hidden;
            text-overflow: ellipsis;
            $lineHeight: 19px;
            line-height: $lineHeight;
            -webkit-line-clamp: 2;
            height: $lineHeight * 2;
            display: -webkit-box;
            -webkit-box-orient: vertical;
        }
    }
}

.home-hot-product{
    border:5px solid transparent;
    border-image: url('/img/khung-noel.png') 5 round;
    &__header{
        img{
            width: 108.0%;
            margin-top: -30px;
            margin-left: 0.885%;
        }
    }
    &__content{
        // overflow: auto;
        // white-space: nowrap;   
        .card{
            max-width: 19%!important;
        }
        &--three-line{
            white-space: normal;
            font-size: 13px;
            overflow: hidden;
            text-overflow: ellipsis;
            $line-height: 15px;
            line-height: $line-height;
            -webkit-line-clamp: 3;
            height: $line-height * 3;
            display: -webkit-box;
            -webkit-box-orient: vertical;
        }
    }
    &__control{
        font-size: 50px;
        top: 37%;
        bottom: 37%;
        opacity:0.3;
        width: 3%;
        box-shadow: 0 0 4px 2px rgba(0,0,0,.15);
        i{
            color: black;
        }
    }
    &__control:hover{
        background: white;
        opacity:0.8;
    }
}
.home-product-nav{
    &--font-14{
        font-size: 14px!important;
    }
    &--font-16{
        font-size: 16px!important;
    }
}


.home-product{
    &--w60{
        width: 60%!important;
    }
    &--w40{
        width: 40%!important;
    }
    &--font-13{
        font-size: 13px!important;
    }
    &--txt-red{
        color: red;
    }
    &__shock{
        $line-height: 20px;
        position: relative;
        left: 0;
        bottom: $line-height;
        display: inline;
        padding: 2px 6px;
        text-align: center;
        white-space: normal;
        font-size: $line-height - 8;
        line-height: $line-height;
        font-weight: bold;
        background: red;
        color: white;
        border-radius: 3px 3px 0px 0px;
    }
}
.footer{
    &--font{
        font-size: 11px!important;
    }
    a{
        font-size: 14px!important;
        color: #6c757d;
        padding-bottom: 4px;
    }
    p{
        font-size: 14px!important;
    }
}
.all-product{
    &__option{
        a{
            font-size: 13px;
        }       
        a:hover{
            text-decoration: none;
            color: red!important;
        }
        width: 23%;
        &__item{

        } 
        .price-slide-range{
        //https://www.w3schools.com/howto/howto_js_rangeslider.asp
        .slider{
            -webkit-appearance: none;  /* Override default CSS styles */
            appearance: none;
            width: 100%; /* Full-width */
            height: 25px; /* Specified height */
            background: #d3d3d3; /* Grey background */
            outline: none; /* Remove outline */
            opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
            -webkit-transition: .2s; /* 0.2 seconds transition on hover */
            transition: opacity .2s;
        }
        .slider:hover{
            opacity: 1;
        }
        .slider::-webkit-slider-thumb {
          -webkit-appearance: none; /* Override default look */
          appearance: none;
          width: 25px; /* Set a specific slider handle width */
          height: 25px; /* Slider handle height */
          background: #4CAF50; /* Green background */
          cursor: pointer; /* Cursor on hover */
      }
      .slider::-moz-range-thumb {
          width: 25px; /* Set a specific slider handle width */
          height: 25px; /* Slider handle height */
          background: #4CAF50; /* Green background */
          cursor: pointer; /* Cursor on hover */
      }

  }
}
}
